.main-content {
  background-color: #FFF;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 109px;
}

.students {
  flex: 0 0 305.62px;
  padding: 50px 38px;
}

.students h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  color: #16162C;
}

.mentors {
  background: #F9F7FA;
  padding: 50px 38px;
}

.mentors h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  color: #529AED;
  padding-top: 39px;
}

.title {
  display: inline;
}
