.main-content {
  background-color: #F2F2F2;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 109px;
}

.students {
  flex: 0 0 305.62px;
  padding: 100px 10px 50px 10px;
}

.students h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #16162C;
}

.students p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.students ul {
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  list-style: none;
  margin-left: 0;
}

.mentors {
  flex: 0 0 428px;
  height: 750px;
  background: #F9F7FA;
  margin-top: 60px;
  padding-top: 2px;
  padding-left: 37.9px;
}

.mentors h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #529AED;
  padding-top: 39px;
}

.mentors p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  padding-right: 37.7px;
}

.mentors ul {
  list-style: none;
  margin-left: 0;
  padding-right: 10px;
}

#triangles {
  transform: translate(90px, 140px);
}

#laptop {
  transform: translate(650px, -300px);
  /* transform: translate(50vw); */
}