.main-content {
  display: flex;
  max-width: 1024px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  
}

.students h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: normal;
  color: #16162C;
  padding-top: 100px;
}

.students p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: normal;
  padding-right: 100px;
  color: #000;
}

.mentors-container {
  width: 468px;
  height: 550px;
  background: #F9F7FA;
  margin-top: 60px;
}

.mentors h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: normal;
  color: #529AED;
  padding-top: 39px;
  padding-left: 25px;
  margin: 0 auto;
}

.mentors p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: normal;
  color: #000;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
}