.main {
    background-color: #F2F2F2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 109px;
}

.venue {
    flex: 0 0 305.62px;
    padding: 100px 10px 50px 10px;
}

.venue h3{
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #16162C;
}

.laptop-image {
    flex: 0 0 428px;
    width: 574px;
    height: 422px;
    background: #F9F7FA;
    margin-top: 60px;
    padding-top: 2px;
    padding-left: 37.9px;
}

.partners-section {
   flex: 0 0 990px;
   background: #F9F7FA;
   margin-bottom: 24px;
}

.partners-section h3 {
    text-align: center;
    padding: 24px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #529AED;
}