.footer {
    background: #529AED;
    font-size: 13px;
    /* padding: 20px; */
    padding-top: 2.5rem;
    padding-bottom: 1.3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}