.header {
  width: 100%;
  background-color: #C0DAE9;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding: 10px;
}

.title-line {
  text-align: center;
  padding-bottom: 25px;
}

.title {
  font-family: Lobster, cursive;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  color: #FFF;
  line-height: 137px;
  text-decoration: none;
  margin-top: 25px;
}

.subtitle-line {
  display: flex;
  flex-flow: row wrap;
}

.box-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  text-decoration-line: underline;
  line-height: 56px;
  color: #16162C;
  padding-top: 26px;
  padding-bottom: 20.5px;
  padding-left: 53px;
}

.box-text {
  width: 80vw;
}

.box-container {
  background: #F9F7FA;
  width: 424px;
  margin-bottom: 83px;
}

@media all and (min-width: 768px) {
  .box-container {
    margin-left: 82px;
  }
}

#laptop {
   padding-left: 149px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 96px;
  }
}

@media screen and (min-width: 1023px) {
  .title {
    font-size: 110px;
  }
}