.header {
  width: 100%;
  background-color: #C0DAE9;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding: 10px;
}

#triangles {
  width: 25px;
  height: 25px;
}

.title-line {
  text-align: center;
  padding-bottom: 25px;
}

.title {
  font-family: Lobster, cursive;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  color: #FFF;
  line-height: 137px;
  text-decoration: none;
  margin-top: 25px;
}

.box-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-decoration-line: underline;
  line-height: 28px;
  color: #16162C;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 27px;
  width: 300px;
}

.box-container {
  background: #F9F7FA;
  margin-bottom: 40px;
  width: 158px;
  height: 82px;
}

@media all and (min-width: 768px) {
  .box-container {
    margin-left: 82px;
  }
}

#laptop {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 96px;
  }

  .title-line {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .box-text {
    font-size: 48px;
    line-height: 56px;
    width: 600px;
    padding-top: 55px;
    padding-left: 55px;
    padding-bottom: 55px;
  }

  #triangles {
    width: 27px;
    height: 38px;
    margin-right: 10px;
    margin-bottom: 45px;
  }

  .box-container {
    width: 340px;
    height: 222px;
  }
}

@media screen and (min-width: 1023px) {
  .title {
    font-size: 110px;
  }
}