.header {
  width: 100%;
  height: 600px;
  background-color: #C0DAE9;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.title {
  width: 597px;
  font-family: Lobster, cursive;
  font-size: 110px;
  font-weight: normal;
  font-style: normal;
  color: #FFF;
  line-height: 137px;
  text-decoration: none;
  margin-top: 25px;
  margin-left: 320px;
}

.box-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  text-decoration-line: underline;
  line-height: 56px;
  color: #16162C;
  width: 580px;
  padding-top: 26px;
  padding-bottom: 20.5px;
  padding-left: 53px;
}

.box-container {
  background: #F9F7FA;
  width: 424px;
  height: 222px;
  margin-bottom: 83px;
  margin-left: 82px;
}