nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: 672px;
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #16162C;
}

 nav ul:hover {
    color: #DBE9EE;
    
  }