@import '../variables';


.navBar {
  float: right;

  .navBarButtons {
    margin: 20px;

    a {
      text-decoration: none;
      padding: 10px 20px;
    }

    a:hover{
      background-color: $grey;
      color: $black;
    }
  }
}
