div {
    padding-top: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    float: right;
    font-family: Railway;
    color: #16162C;
}


ul:hover {
    color: #DBE9EE;
  }